
  .backArrow {
    display: block;
    margin-bottom: 20px;
    width: 90%
  }


.postTitle {
  font-family: var(--primary-type-heading);
  font-size: 37.8px;
  line-height: 38px;
  letter-spacing: -1px;
  margin-bottom: 5px;
}

.postDate {
  font-family: var(--secondary-type-copy);
  font-size: 14.18px;
  margin-bottom: 20px;
}

.readTime {
  font-family: var(--primary-type-heading);
}


.blog-post-container {
width: 700px;
height: auto;
margin: auto; 
margin-top: 80px;
}


.blog-post-container p {
    font-family: var(--secondary-type-copy);
    font-size: 18.9px;
    margin-bottom: 40px;
    line-height: 27px;
    letter-spacing: -.5px;
}

.blog-post-container h3 {
  font-family: var(--primary-type-heading);
  font-size: 28.35px;
  margin-bottom: 20px;
}

.blog-post-container pre {
  margin-bottom: 40px;
  padding: 25px;
  background: #f3faff;
  overflow-x: scroll;
  overflow-y: hidden;
}

.blog-post-container code {
  width: 700px;
  height: auto;
  font-size: 16px;
}

.blog-post-container img {
  width: 100%;
  margin-bottom: 40px;
}
.blog-post-container a {
  font-family: var(--secondary-type-emphasis);
  text-decoration: underline;
  color: black;
}

.blog-post-container blockquote p  {
  color: #676767;
  font-family: var(--secondary-type-emphasis);
  border-left-style: solid;
  border-left-width: 4px;
  border-left-color: #676767;
  padding-left: 10px;
}

@media only screen and (max-width: 768px) {

  .backArrow {
    padding-left: 20px;
  }

  .postTitle {
    font-size: 28.35px;
    width: 90%;
    margin: auto;
    line-height: 31px;
    margin-bottom: 10px;
  }
  
  .postDate {
    font-family: var(--secondary-type-copy);
    font-size: 14.18px;
    width: 90%;

margin: auto;

    margin-bottom: 20px;
  }
  
  .readTime {
    font-family: var(--primary-type-heading);
  }
  
    
  .blog-post-container {
    width: 100%;
    height: auto;
    margin: auto; 
    margin-top: 40px;
    }
  
  
  .blog-post-container p {
      font-size: 14.18px;
      line-height: 20px;
      width: 90%;
      margin: auto;
      margin-bottom: 20px;

  }
  
  .blog-post-container h3 {
    font-size: 21.26px;
    width: 90%;
    margin: auto;
    margin-bottom: 10px;
  }
  
  .blog-post-container pre {
    margin-bottom: 40px;
    padding: 25px;
    background: #f3faff;
    overflow-x: scroll;
    overflow-y: hidden;
    width: 80%;
    margin: auto;
  }
  
  .blog-post-container code {
    font-size: 14.18px;
  }
  
  .blog-post-container img {
    margin-bottom: 20px;
  }
 

}

