
.container {
    height: 1000px;
    max-width: 1171px;
    margin: auto;
}


.projectH1 {
    font-family: var(--primary-type-heading);
    font-size: 2.25rem;
    letter-spacing: 6px;
}

.projectH2 {
    font-family: var(--secondary-type-emphasis);
    font-size: 1.6875rem;
}


.primaryRhythm {
    margin-bottom: 62px;
}

.techOverview {
    display: inline-block;
    margin-right: 180px;
    margin-bottom: 18px;
}

.techOverview:nth-of-type(3) {
    margin-right: 0;
}

.techListHeading {
    font-family: var(--primary-type-heading);
    font-size: 1.6875rem;
    margin-bottom: 16px;
    letter-spacing: 3px;
}

.techListItem {
    font-family: var(--secondary-type-emphasis);
    font-size: 1.125rem;
    padding-bottom: 10px;
}




/* Project Description */

.descriptionContainer {
    width: 535px;
    height: 300px;
    display: inline-block;
    vertical-align: bottom;
    /* background: pink; */
}

.descriptionContainer:nth-of-type(4) {
    margin-right: 80px;
}

.secondaryRhythm {
    margin-bottom: 40px;
}

.projectCopy {
    font-family: var(--secondary-type-copy);
    font-size: 1.125rem;
    line-height: 30px;
}

/* Features */

.featureList {
    padding-left:20px;
}

.featureList > li {
    font-family: var(--secondary-type-emphasis);
    font-size: 1.375rem;
    list-style-type: disc;
    padding: 5px 10px;
}

/* Shared Styles */

.metricsList {
    display: block;
    height: 80px;
}

.metric {
    font-family: var(--secondary-type-emphasis);
    font-size: 1.125rem;
    float: left;
    margin-right: 115px;
    line-height: 100px;
}

.metric > img {
    vertical-align: middle;
    margin-right: 20px;
}

/* Color */

.colorList {
    display: block;
    height: 200px;
}

.colorListItem {
    font-family: var(--secondary-type-emphasis);
    font-size: 1.375rem;
    float: left;
    margin-right: 65px;
}

.colorBlock {
    height: 192px;
    width: 192px;
    border-style: solid;
    border-width: 4px;
    border-color: black;
    box-sizing: border-box;
}

.colorBlock > p {
    float: right;
    padding-right: 10px;
}

.colorBlock > p:first-of-type {
    padding-top: 123px;
}

/* subsection images */
.subsectionImage {
    width: 75%;
}

/* responsive @1171px  to 960px*/

@media only screen and (max-width: 1171px) {

    .container {
        max-width: 960px;
    }

    .primaryRhythm {
        margin-bottom: 55px;
    }

    .projectH1 {
        font-size: 1.5625rem;
    }

    .projectH2 {
        font-size: 1.125rem;
    }
    
    .techListHeading {
        font-size: 1.125rem;
    }
    
    .techListItem {
        font-size: 1rem;
        padding-bottom: 7px;
    }

    /* Project description */

    .descriptionContainer {
        width: 430px;
        height: 175px;
    }
    
    .descriptionContainer:nth-of-type(3) {
        margin-right: 80px;
    }
    
    .secondaryRhythm {
        margin-bottom: 22px;
    }
    
    .projectCopy {
        font-size: 0.875rem;
        line-height: 24px;
    }

    /* Features */

    .featureList > li {
        font-size: 1rem;
    }

    /* Shared Styles */

    .metricsList {
        display: block;
        height: 80px;
    }

    .metric {
        font-size: 0.75rem;
    }

    /* Color */

    .colorListItem {
        font-size: 0.9375rem;
        margin-right: 65px;
    }

    .colorBlock {
        height: 150px;
        width: 150px;
    }

    .colorBlock > p {
        padding-right: 15px;
    }

    .colorBlock > p:first-of-type {
        padding-top: 102px;
    }

}

/* responsive @960px  to 768px*/

@media only screen and (max-width: 960px) {

    .container {
        max-width: 768px;
    }

    .primaryRhythm {
        margin-bottom: 45px;
    }

    .projectH1 {
        font-size: 1.25rem;
    }

    .projectH2 {
        font-size: 0.875rem;
    }

    .techOverview {
        margin-right: 100px;
    }
    
    
    .techListHeading {
        font-size: 0.875rem;
    }
    
    .techListItem {
        font-size: 0.75rem;
    }

    /* Project description */

    .descriptionContainer {
        width: 300px;
        height: 180px;
    }
    
    .descriptionContainer:nth-of-type(3) {
        margin-right: 50px;
    }
    
    .secondaryRhythm {
        margin-bottom: 18px;
    }
    
    .projectCopy {
        font-size: 0.75rem;
        line-height: 20px;
    }

    /* Features */

    .featureList > li {
        font-size: 0.75rem;
    }

    /* Shared Styles */

    .metricsList {
        display: block;
        height: 80px;
    }

    .metric {
        font-size: 0.75rem;
        margin-right: 45px;
    }

    /* Color */

    .colorListItem {
        font-size: 0.75rem;
        margin-right: 54px;
    }

    .colorBlock {
        height: 130px;
        width: 130px;
    }

    .colorBlock > p {
        padding-right: 15px;
    }

    .colorBlock > p:first-of-type {
        padding-top: 90px;
    }

}

@media only screen and (max-width: 768px) {
    .container {
        width: 100%;
        padding-left: 50px;
    }

    hr {
        visibility: hidden;
    }

    .projectH1 {
        font-size: 1.6875rem;
        letter-spacing: 6px;
    }
    
    .projectH2 {
        font-size: 1.265625rem;
    }
    
    
    .primaryRhythm {
        margin-bottom: 40px;
    }

    .secondaryRhythm {
        margin-bottom: 20px;
    }

    .techOverview {
        display: inline-block;
        margin-right: 60px;
        margin-bottom: 18px;
    }
    
    .techOverview:nth-of-type(3) {
        margin-right: 0;
    }
    
    .techListHeading {
        font-size: 1.265625rem;
        margin-bottom: 10px;
    }
    
    .techListItem {
        font-size: 0.875rem;
        padding-bottom: 10px;
    }


    .descriptionContainer {
        display: block;
        height: auto;
        width: 500px;
    }
    
    .projectCopy {
        font-size: 0.875rem;
        line-height: 24px;
    }

    /* Features */

    .featureList > li {
        font-size: 1.125rem;
    }

    /* Shared Styles */

    .metricsList {
        display: block;
        height: 300px;
        width: 80%;
    }
    
    .metric {
        font-size: 1.125rem;
        line-height: 100px;
        display: block;
    }
    
    .metric > img {
        vertical-align: middle;
        margin-right: 20px;
    }

    /* Color */

    .colorContainer {
        height: 424px;
    }

    .colorList {
        display: block;
        height: 200px;
    }

    .colorListItem {
        font-size: 1.125rem;
        float: left;
        margin-right: 65px;
        margin-bottom: 20px;
    }

    .colorBlock {
        height: 192px;
        width: 192px;
    }

    .colorBlock > p {
        float: right;
        padding-right: 10px;
    }

    .colorBlock > p:first-of-type {
        padding-top: 159px;
    }

    /* subsection images */
    .subsectionImage {
        width: 90%;
    }


}