.aboutContainer {
  width: 700px;
  height: auto;
  /* background: blue; */
  margin: auto;
}

.aboutHeader {
  font-family: var(--primary-type-heading);
  font-size: 34px;
  margin-bottom: 20px;
}

.aboutImg {
  margin-bottom: 20px;
}

.bodyBlock {
  font-family: var(--secondary-type-copy);
  font-size: 16px;
  line-height: 30px;
  margin-bottom: 40px;
}

.rotateLeft {
  transform: rotate(-0.5deg)
 }

.rotateRight {
 transform: rotate(0.5deg) 
}

.sectionHeader {
  font-family: var(--primary-type-heading);
  font-size: 28.35px;
  margin-bottom: 20px;
}

.highlight {
  font-family: var(--secondary-type-emphasis);
}

.link {
  text-decoration: underline;
  color: black;
}

@media only screen and (max-width: 768px) {

  .aboutContainer {
    width: 80%;
    height: auto;
    margin: 0;

  }

  .aboutHeader {
    font-size: 25.5px;
    margin-bottom: 10px;
    padding: 0 20px;
  }

  .aboutImg {
    width: 200px;
    padding: 0 20px;
  }
  

  .bodyBlock {
    font-size: 12px;
    line-height: 19px;
    margin-bottom: 20px;
    width: 100%;
    padding: 0 20px;
  }

  .sectionHeader {
    font-family: var(--primary-type-heading);
    font-size: 21.26px;
    margin-bottom: 10px;
    padding: 0 20px;
  }

}

