

.aboutContainer {
  width: 700px;
  height: auto;
  /* background: blue; */
  margin: auto;
}

.aboutHeader {
  font-family: var(--primary-type-heading);
  font-size: 34px;
  margin-bottom: 20px;
}

.aboutImg {
  margin-bottom: 20px;
}

.bodyBlock {
  font-family: var(--secondary-type-copy);
  font-size: 16px;
  line-height: 30px;
  margin-bottom: 40px;
}

.rotateLeft {
  transform: rotate(-0.5deg)
 }

.rotateRight {
 transform: rotate(0.5deg) 
}

.sectionHeader {
  font-family: var(--primary-type-heading);
  font-size: 28.35px;
  margin-bottom: 20px;
}

.highlight {
  font-family: var(--secondary-type-emphasis);
}

.link {
  text-decoration: underline;
  color: black;
}

.contactList {
  display: block;
  margin: auto;
  height: 80px;
  margin-bottom: 40px;
}

.contactList li {
  display: inline-block;
  height: 50px;
  margin: 10px;
}

.contactButton {
  display: block;
  width: 300px;
  height: auto;
  margin: auto;
  text-align: center;
  font-family: var(--secondary-type-emphasis);
  font-size: 28.35px;
  padding: 15px 17px;
  border-style: solid;
  border-color: black;
  border-width: 4px;
  background: black;
  color: white;
  margin-bottom: 40px;
}

.contactButton:hover, .typeformButton:hover {
  cursor: pointer;
}

.typeformButton {
  font-family: var(--primary-type-heading);
  font-size: 26px;
  padding: 20px 15px;
  border-style: none;
  border-radius: 4px;
  background: #EFF4F7;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.2);
  transition: all .2s ease;
  color: #566356;
}

.typeformButton:hover {
  transform: scale(1.05);
box-shadow: 1px 4px 9px 2x rgba(0, 0, 0, 0.2);
}

.contactIcon {
  margin-right: 5px;
}



@media only screen and (max-width: 768px) {

  .aboutContainer {
    width: 100%;
    height: auto;
    margin: 0px;
  }

  .aboutHeader {
    font-size: 25.5px;
    margin-bottom: 10px;
    padding: 0 10px;

  }

  .aboutImg {
    width: 200px;
    padding: 0 10px;

  }

  .bodyBlock {
    font-size: 14.18px;
    line-height: 20px;
    width: 90%;
    margin: auto;
    margin-bottom: 20px;
    letter-spacing: -.5px;
  }

  .sectionHeader {
    font-family: var(--primary-type-heading);
    font-size: 21.26px;
    margin-bottom: 10px;
    padding: 0 10px;

    
  }

  .contactButton {
    font-size: 21.26px;
  }


}

