.blogContainer {
  width: 90%;
  margin: auto;
}

.blogHeading {
  font-size: 34px;
  font-family: var(--primary-type-heading);
  margin-bottom: 100px;
}

.section {
  margin-bottom: 30px;
  width: 700px ;
  height: auto;
}

.sectionHeader {
  font-size: 21.38px;
  font-family: var(--secondary-type-copy);
}

.postItem {
}

.postLink {
  font-size: 28.5px;
  font-family: var(--primary-type-heading);
  color: black;
}

.postLink:hover {
  color: #FE8B10;
}

.inlineDate {
  font-family: var(--secondary-type-copy);
  font-size: 16.03px;
  display: inline;
  margin-left: 5px;
}

@media only screen and (max-width: 768px) {
  .sectionHeader {

  }

  .blogContainer {
    width: 95%;
  }

  .blogHeading {
    margin-bottom: 50px;
    font-size: 25.5px;
  }

  .section {
    width: 95%;

  }

  .sectionHeader {
    font-size: 16.035px;
    margin-bottom: 2.5px;
  }

  .postItem {
    margin-bottom: 5px;
  }

  .postLink {
    font-size: 21.375px;
  }
}