/* typefaces
font-family: var(--primary-type-copy);
font-family: var(--primary-type-heading);
font-family: var(--secondary-type-copy);
font-family: var(--secondary-type-emphasis); 
*/

@import url(../components/layout-css-module.module.css);

  .indexContainer {
    max-width: 1171px;
    padding: 0 80px;
  }

  .headingContainer {
    width: 555px;
    margin: auto;
    height: auto;
    padding-left: 55px;
    margin-bottom: 60px;
  }

  .headingContainer > h1:nth-child(2) {
    font-family: var(--secondary-type-emphasis)
  }

  .heroImage {
    display: block;
    margin: auto;
    margin-bottom: 30px;
    max-width: 50%;
  }

  .heroHeading{
    font-family: var(--primary-type-heading);
    font-size: 50.4px;
    margin-bottom: 10px;
  }

  .heroDescription {
    height: auto;
    display: block;
    margin: auto;
    font-family: var(--secondary-type-copy);
    font-size: 27px;
    width: 80%;
    margin-bottom: 60px;
    text-align: left;
    transform: rotate(1.125deg);
  }

  .deEmphasis {
    font-family: var(--primary-type-copy);
  }


  .emphasis {
    font-family: var(--secondary-type-emphasis);
  }

  .link {
    text-decoration: none;
    text-decoration: underline;
    color: black;
  }



  .cssTyping h1 {
    border-right: .25em solid orange;
    white-space: nowrap;
    overflow: hidden;
  }
  .cssTyping h1:nth-child(1) {
    width: 11.5em;
    -webkit-animation: type2 1s steps(40, end);
    animation: type 1s steps(40, end);
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }
  
  .cssTyping h1:nth-child(2) {
    width: 11.5em;
    opacity: 0;
    -webkit-animation: type2 2s steps(40, end);
    animation: type2 1s steps(40, end);
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }
  
  @keyframes type {
    0% {
      width: 0;
    }
    99.9% {
      border-right: .25em solid orange;
    }
    100% {
      border: none;
    }
  }
  
  @-webkit-keyframes type {
    0% {
      width: 0;
    }
    99.9% {
      border-right: .25em solid orange;
    }
    100% {
      border: none;
    }
  }
  
  @keyframes type2 {
    0% {
      width: 0;
    }
    1% {
      opacity: 1;
    }
    99.9% {
      border-right: .25em solid orange;
    }
    100% {
      opacity: 1;
      border: none;
    }
  }
  
  @-webkit-keyframes type2 {
    0% {
      width: 0;
    }
    1% {
      opacity: 1;
    }
    99.9% {
      border-right: .25em solid orange;
    }
    100% {
      opacity: 1;
      border: none;
    }
  }
  
  @keyframes type3 {
    0% {
      width: 0;
    }
    1% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
  }
  
  @-webkit-keyframes type3 {
    0% {
      width: 0;
    }
    1% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
  }
  
  @keyframes blink {
    50% {
      border-color: transparent;
    }
  }
  @-webkit-keyframes blink {
    50% {
      border-color: tranparent;
    }
  }

  .gap {
    margin-bottom: 60px;
  }

  .projListHeading {
    font-family: var(--secondary-type-copy);
    font-size: 21.26px;
    margin-bottom: 10px;
  }

  .projectListContainer {
    width: 100%;
    height: auto;
    margin-bottom: 80px;
  }

  .projectList {
    list-style-type: none;
  }

  .projectListLi {
    height: 50px;
    margin: 5px 0;
  }


  

  
  
 



  
 