/* typefaces
font-family: var(--primary-type-copy);
font-family: var(--primary-type-heading);
font-family: var(--secondary-type-copy);
font-family: var(--secondary-type-emphasis); 
*/

@import url(../components/layout-css-module.module.css);

  .heroContainer {
    max-width: 1746px;
    padding: 0 80px;
  }

  .gap {
    margin-bottom: 60px;
  }

  .heroHeading{
    font-family: var(--primary-type-heading);
    font-size: 50.4px;
    margin-bottom: 20px;
  }

  .deEmphasis {
    font-family: var(--primary-type-copy);
  }

  .projListHeading {
    font-family: var(--secondary-type-copy);
    font-size: 21.26px;
    margin-bottom: 10px;
  }

  .projectListContainer {
    width: 50%;
    height: 500px;
  }

  .projectList {
    list-style-type: none;
  }

  .projectListLi {
    height: 50px;
    margin: 10px 0;
  }
  
 



  
 