
.footerContainer {
    max-width: 1171px;
    height: auto;
    margin: auto;
    text-align: center;
}

.footerText {
    font-family: var(--secondary-type-copy);
    font-size: 16px;
    margin-bottom: 15px;
}

.footerLine {
    width: 100%;
    color: black;
    margin-bottom: 10px;
}


.link {
    text-decoration: none;
    text-decoration: underline;
    color: black;
    font-family: var(--secondary-type-emphasis);
  }

  .footerIconList {
    width: 100%;
      display: block;
      margin-bottom: 120px;
      height: auto;
  }

.footerIcon {
    margin-left: 15px;
    /* float: left; */
    vertical-align: middle;
}

.footerIcon > img {
    height: 20px;
    width: 20px;
}

.footerText, .footerIconList {
    padding-left: 10px;
}

@media only screen and (max-width: 768px) {
    .footerText {
        font-size: 12px;
    }

    .footerText, .footerIconList {
        padding-left: 20px;
    }

    .footerIcon {
        width: 15px;
        height: 15px;
    }


}

@media only screen and (max-width: 414px) {
    .footerText {
        padding: 0;
        text-align: left;
        padding-left:20px;
    }



    .footerIcon {
            margin: 0;
            margin-right: 5px;
        
    }
}