
.headercontainer {
  max-width: 1746px;
  height: 40px;
  margin: auto;
  margin-top: 40px;
  display: block;
  margin-bottom: 60px;
  padding: 0px 40px;
}

.headerListItem {
  font-family: var(--secondary-type-emphasis);
  float: left;
  font-size: 18px;

}

.headerLink {
  text-decoration: none;
  color: black;
}

.headerListItem:nth-child(2), .headerListItem:nth-child(3), .headerListItem:nth-child(4) {
  float: right;
  padding-left: 60px;
  font-size: 16px;
}

/*  responsive header */

.headerContainerResponsive {
  display: none;
  max-width: 768px;
  height: 100px;
  margin: auto;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  position: relative;
}

.headerLink {
  text-decoration: none;
  color: black;
}

.underline {
  text-decoration: underline;
}



.activeLink {
  text-decoration: underline;
}




@media only screen and (max-width: 768px) {

  .headercontainer {
    display: none;
  }

  .headerContainerResponsive {
    display: block;
  }
  
  .headerContainerResponsive > ul {
    max-width: 100%;
    margin: auto;
    height: 40px;
    /* margin-left: 50px; */
    padding-top: 70px;
    text-align: center;
  }
  
  .headerListItemResponsive {
    font-family: var(--secondary-type-copy);
    display: inline-block;
    font-size: 16px;
    padding: 0 5%;
    /* float: none; */
    letter-spacing: 1.5px;
  }

  /* .headerListItemResponsive:nth-child(4) {
    padding-right: 0;
  }
   */

   
  .headerIconResponsive {
    display: block;
    position: absolute;
    top:10px;
    left: 20px;
  }

  .mikeIconAlt {
    width: 65px;
    height: 65px;
  }
  
  .headerListItemResponsive:nth-child(5) {
    padding-right: 0px;
  }

}

@media only screen and (max-width: 590px) {
  .mikeIconAlt {
    width: 45px;
    height: 45px;
  }

  .headerListItemResponsive {
    padding: 0 2.75%;
    /* float: none; */
  
  }

}

/* don't let the user break and styles by making the screen any smaller */

@media only screen and (max-width: 375px) {
  .headerContainerResponsive {
    width: 375px;
  }
}


