@font-face {
  font-family: OpenSans-Regular;
  src: url(../../static/etc/OpenSans-Regular.ttf)
}

@font-face {
  font-family: OpenSans-SemiBold;
  src: url(../../static/etc/OpenSans-Bold.ttf)
}

@font-face {
  font-family: OpenSans-Bold;
  src: url(../../static/etc/OpenSans-Bold.ttf)
}

@font-face {
  font-family: OpenSans-ExtraBold;
  src: url(../../static/etc/OpenSans-Bold.ttf)
}
  
* {
  margin: 0;
  padding: 0;
}

:root {
  --primary-type-copy: OpenSans-Regular;
  --primary-type-heading: OpenSans-Bold;
  --secondary-type-copy: OpenSans-Regular;
  --secondary-type-emphasis: OpenSans-Bold;
  font-size: 16px;
}

body {
  width: 100%;
  background: white;
}

em {
  font-style: inherit;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

