

.projLink {
  font-family: var(--primary-type-heading);
  font-size: 37.8px;
  color: black;
  margin-right: 3px;
  vertical-align: bottom;
  line-height: .75;
}



.projectLabel {
  font-family: var(--secondary-type-copy);
  font-size: 12px;
  display: inline-block;
  margin-right: 7px;
  padding: 2px 5px;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  vertical-align: bottom;
}
