.projListHeading {
  font-family: var(--secondary-type-copy);
  font-size: 21.26px;
  margin-bottom: 10px;
}

.projectListContainer {
  width: 100%;
  height: auto;
  margin-bottom: 80px;
}

.projectList {
  list-style-type: none;
}

.projectListLi {
  height: 50px;
  margin: 5px 0;
}



.projLink {
  font-family: var(--primary-type-heading);
  font-size: 37.8px;
  color: black;
  margin-right: 3px;
  vertical-align: bottom;
  line-height: .75;
}



.projectLabel {
  font-family: var(--secondary-type-copy);
  font-size: 12px;
  display: inline-block;
  margin-right: 7px;
  padding: 2px 5px;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  vertical-align: bottom;
}


@media only screen and (max-width: 1024px) {

  
  .projLink {
    font-size: 32px;
  }

  .projListHeading {
    /* font-size: 32px; */
  }

  .projLink {
    font-size: 32px;
  }

  .projListLi {
    margin: 0;
  }
  
}

